 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an energetic full-stack web developer who excels at identifying problem areas and finding effective and cost efficient solutions. My extensive hospitality background accustomed me to a fast-paced environment that demanded quick, high quality solutions with limited resources.</p>
                </div>
                <div class="col-lg-4">
                    <p>My interest in web development began when taking a programming course in college. General Assembly's Web Development Immersive class gave me the tools and direction I needed to explore front-end and back-end developing. I gained a strong knowledge in back-end web development and realized my love for front-end. I have a lot of fun with JavaScript and am continuously appreciative of how powerful it is. </p>
                </div>
                <div class="col-lg-4">
                    <p>Check out my Github in the links below... </p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>